html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: white;
}

.banner-image {

  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSutFdLnvEOMdgfxvix2h4jcquLXaYH3AQV-A&usqp=CAU');
   background-size: cover;
   background-repeat: no-repeat;*/
background-image: linear-gradient( 0.3deg,  rgba(6,17,33,1) 1.1%, rgba(42,98,226,1) 97.3% );
}

.logo {
  width: 180px;
}

#navlink {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
}

#navitem:hover {
  background: grey;
  border-radius: 20px;
}

.bottom-container,
.top-container {
  width: 40vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  letter-spacing: 3px;
  padding: 1vw;
  font-family: 'Bahnschrift Light';
  font-size: 150px;
}

.bottom-container {
  color: #cccccc;
  font-weight: bold;
  text-shadow: #474747 3px 5px 2px;
}

.top-container {
  background-color: #a4aaacc4;
  color: white;
  clip-path: circle(18% at 85% 50%);
  animation: circleMove 5s ease-in-out infinite;
}

@keyframes circleMove {
  0%,
  100% {
    clip-path: circle(18% at 85% 50%);
  }

  50% {
    clip-path: circle(18% at 15% 50%);
  }

}

.complogo {
  margin-top: 200px;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
}

#button-5 {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  margin-left: 800px;
  margin-top: -150px;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
  color: #ffffff;
  font-weight: bold;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #BFC0C0;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #2D3142;
}

a {
  color: #6c757d;
}

a:hover {
  color: #fec503;
  text-decoration: none;
}

::selection {
  background: #fec503;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: black;
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
}

@media (min-width:768px) {
  .footer-column:not(:first-child) {
    padding-top: 0rem;
  }

}

.footer-column {
  text-align: center;
}

.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
}

.footer-column .nav-item span.nav-link {
  color: #6c757d;
}

.footer-column .nav-item span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}

.footer-column ul {
  display: inline-block;
}

@media (min-width:768px) {
  .footer-column ul {
    text-align: left;
  }

}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fec503;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #1a1d20;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

a {
  color: #6c757d;
}

a:hover {
  color: #fec503;
  text-decoration: none;
}

::selection {
  background: #fec503;
  text-shadow: none;
}

/* //Inner Content Styles */

/* //Text Animation */
.p-4 h1 {
  color: #4db1bc;
  margin: 10px auto;
  padding-bottom: 1rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }

  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }

}

/* //Buttons group */
body {
  font-size: 23px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden;
}

.date {
  width: 120px;
  border-radius: 15px;
}

.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: block;
  width: 60%;
  font-size: 1em;
  padding: 1em 2em;
  margin: 50px auto;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button::before,
.bubbly-button::after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button::before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button::after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate::before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate::after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }

}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }

}

/* content logo */
.heading {
  text-align: center;
  color: #4db1bc;
}

#Teams {
  text-align: center;
}

#Teams h1 {
  text-align: center;
  padding: 0rem;
}

#Teams .fa {
  color: #4db1bc;
  text-align: center;
  padding: 0rem;
}

#Problem {
  text-align: center;
}

#Problem ul {
  margin-top: 30px;
}

#Problem li {
  text-align: center;
  list-style: none;
  margin: 15px auto;
}

#Rules ul {
  margin: 10px;
}

#Rules ul li {
  margin: 20px auto;
}

#Structure p {
  margin-bottom: 50px;
}
#Structure h4{
  color: lightblue;
  text-align: center;
  font-weight: bold;
  margin-bottom:5px;
}

#FAQ p {
  margin-bottom: 40px;
}
#FAQ h4 {
  margin-bottom:5px;
  font-weight: bolder;
  color: lightblue;
}

/* Contact Page */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }

}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }

}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }

}

.footerlogo {
  display: block;
}

.about {
  width: 50%;
}

.about h6 {
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem;
}

.contact_footer {
  width: 50%;
}

.contact_footer ul {
  list-style: none;
  text-align: center;
/*   margin-right: 35px; */
}

.contact_footer h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}

.contact_footer .fa {
  margin: 0.5rem 0.5rem;
}

/* //footer Mindspark */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative; /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));*/
  font-size: 60px;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }

}

.footer_email {
  margin: 2rem;
  text-align: center;
}

.footer_email h3 {
  margin-left: -50px;
  margin-top: 10px;
  text-align: center;
}

.footer_email h3:hover {
  color: yellow;
  cursor: pointer;
}

.footer_email a:hover {
  color: yellow;
  cursor: pointer;
}

.footer_email h3 .fa {
  margin-right: 1rem;
  text-align: center;
}

/* @media only screen and{
} */
@media screen and (min-width:240px) and (max-width:279px) {
  .complogo {
    margin-top: 60px;
    width: 200px;
  }
  .logo {
  width: 90px;
  }

  #button-5 {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 350px;
  }
  #button-5 a{
    font-size: 14px;
  }

  .waviy span {
    font-size: 15px;
    letter-spacing: 0px;
  }

  .date {
    width: 50px;
  }

  .mailid {
    font-size: 13px;
  }
  .mail {
    font-size: 13px;
  }

  .waviy {
    position: relative; /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));*/
    font-size: 50px;
    margin-left: -30px;
  }

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
  }

  .about h6 {
    text-align: center;
    font-size: 15px;
    margin: 1rem;
  }

  .contact_footer h6 {
    font-size: 15px;
    text-align: center;
    margin: 1rem;
  }

  #navlink {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
  }

  .bubbly-button {
    right: 20px;
    font-size: 9px;
    width: 80%;
  }

  .bottom-container,
  .top-container {
    width: 50vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    letter-spacing: 3px;
    padding: 1vw;
    font-family: 'Bahnschrift Light';
    font-size: 13.5vw;
  }
  body{
    font-size: 9px;
  }

}
@media screen and (min-width:280px) and (max-width:320px) {
  .complogo {
    margin-top: 50px;
    width: 300px;
  }

  #button-5 {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 450px;
  }

  .waviy span {
    font-size: 25px;
    letter-spacing: 0px;
  }

  .logo {
    width: 130px;
  }

  .date {
    width: 50px;
  }

  .mailid {
    font-size: 13px;
  }
  .mail {
    font-size: 13px;
  }

  .waviy {
    position: relative; /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));*/
    font-size: 50px;
    margin-left: -30px;
  }

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
  }

  .about h6 {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem;
  }

  .contact_footer h6 {
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
  }

  #navlink {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
  }

  .bubbly-button {
    right: 20px;
    font-size: 15px;
    width: 85%;
  }

  .bottom-container,
  .top-container {
    width: 50vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    letter-spacing: 3px;
    padding: 1vw;
    font-family: 'Bahnschrift Light';
    font-size: 13vw;
  }
  body{
    font-size: 11px;
  }

}
@media screen and (min-width:321px) and (max-width:390px) {
  .complogo {
    margin-top: 50px;
    width: 350px;
  }

  #button-5 {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 550px;
  }

  .waviy span {
    font-size: 25px;
    letter-spacing: 0px;
  }

  .logo {
    width: 130px;
  }

  .date {
    width: 50px;
  }

  .mail {
    font-size: 15px;
  }

  .waviy {
    position: relative; /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));*/
    font-size: 50px;
    margin-left: -30px;
  }

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
  }

  .about h6 {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem;
  }

  .contact_footer h6 {
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
  }

  #navlink {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
  }

  .bubbly-button {
    right: 20px;
    font-size: 15px;
  }

  .bottom-container,
  .top-container {
    width: 50vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    letter-spacing: 3px;
    padding: 1vw;
    font-family: 'Bahnschrift Light';
    font-size: 14vw;
  }

}

@media screen and (min-width:390px) and (max-width:470px) {
  .complogo {
    margin-top: 50px;
    width: 350px;
  }

  #button-5 {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 550px;
  }

  .waviy span {
    font-size: 25px;
    letter-spacing: 0px;
  }

  .logo {
    width: 130px;
  }

  .date {
    width: 50px;
  }

  .mail {
    font-size: 15px;
  }

  .waviy {
    position: relative; /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));*/
    font-size: 50px;
    margin-left: -30px;
  }

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
  }

  .about h6 {

    text-align: center;
    font-size: 1.3rem;
    margin: 1rem;
  }

  .contact_footer h6 {
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
  }

  #navlink {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
  }

  .bubbly-button {
    right: 20px;
    font-size: 15px;
  }

  .bottom-container,
  .top-container {
    width: 50vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    letter-spacing: 3px;
    padding: 1vw;
    font-family: 'Bahnschrift Light';
    font-size: 15vw;
  }

}
@media screen and (min-width:475px) and (max-width:548px) {
  .complogo {
    margin-top: 50px;
    width: 350px;
  }

  #button-5 {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 550px;
  }

  .waviy span {
    font-size: 25px;
    letter-spacing: 0px;
  }

  .logo {
    width: 130px;
  }

  .date {
    width: 50px;
  }

  .mail {
    font-size: 15px;
  }

  .waviy {
    position: relative; /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));*/
    font-size: 50px;
    margin-left: -30px;
  }

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
  }

  .about h6 {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem;
  }

  .contact_footer h6 {
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
  }

  #navlink {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
  }

  .bubbly-button {
    right: 20px;
    font-size: 15px;
  }

  .bottom-container,
  .top-container {
    width: 50vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    letter-spacing: 3px;
    padding: 1vw;
    font-family: 'Bahnschrift Light';
    font-size: 12vw;
  }

}
@media screen and (min-width:548px) and (max-width:748px) {
  .complogo {
    margin-top: 50px;
    width: 450px;
  }

  #button-5 {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 650px;
  }

  .waviy span {
    font-size: 25px;
    letter-spacing: 0px;
  }

  .logo {
    width: 130px;
  }

  .date {
    width: 50px;
  }

  .mail {
    font-size: 15px;
  }

  .waviy {
    position: relative; /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));*/
    font-size: 50px;
    margin-left: -30px;
  }

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
  }

  .about h6 {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem;
  }

  .contact_footer h6 {
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
  }

  #navlink {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
  }

  .bubbly-button {
    right: 20px;
    font-size: 15px;
  }

  .bottom-container,
  .top-container {
    width: 50vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    letter-spacing: 3px;
    padding: 1vw;
    font-family: 'Bahnschrift Light';
    font-size: 13vw;
  }

}
@media screen and (min-width:760px) and (max-width:998px) {
  #button-5 {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 850px;
  }

}


/* Waivy Ms logo */
.waviy img{
  height: 4rem;
  margin-right: 20px;
  color: red;
}

.border{
  font-family: 'Inconsolata', monospace;
  font-family: 'Rubik', sans-serif;
}

.about h6{
  font-weight: bold;
}

.heading{
  color:violet;
}
.heading h1{
  color:violet;
}

#Problem{
background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );




}
#objective{
background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );



}
#Rules{
background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );





}
#FAQ{
background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );



}
#Date1 {
 background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#Teams{
 background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#Structure{
 background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
